<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.cursopg"
    version   = "1.0.0">

<name>Curso PhoneGap</name>

<description>
Curso de PhoneGap. Proyecto
</description>

<author href="https://www.twitter.com/JavierMadridC" email="javiermadrid19@hotmail.com">
Javier Madrid
</author>

</widget>
